@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.Main{
    font-family: "Open Sans", sans-serif;
}
.WeImage{
    background-image: url('../../../assets/GrpPic.jpeg');
    height: 70vh;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}


.About{
    display: flex !important; 
    justify-content: center !important;
    align-items: center !important;
    height: 50vh !important;
    flex-direction: column !important;
    text-align: center !important;
    background-color: #87878724 !important; 
}

.process{
  background-color: #87878724 !important;
    height: 100%;
    position: relative;
    padding: 50px;
    position: relative;
}

/* .svg-container{
    position: absolute;
    top: -197px;
    left: 0;
    width: 100%; 
    height: 100px; 
    z-index: 5; 
} */

.projectsSection{
    height: 100%;
    position: relative;
    margin: inherit;
}
.container {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Adjust the gap between the boxes as needed */
   
  }
  
  .projectBox {
    height: 150px;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  /* Mobile screen */
  @media (max-width: 768px) {
    .container {
      grid-template-columns: 1fr;
    }
  }

  .overLay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.233);
    width: 100%;
    height: 100%;
  }
  
  .helpHead{
    font-family: "Open Sans", sans-serif;
    color: rgb(120, 68, 172);
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    padding: 10px 0px;
}

.helpText{
    font-family: "Open Sans", sans-serif;
    color: #444;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    padding: 10px 0px;

}

.TouchButton{
    background-color: rgb(120, 68, 172);
    font-family: "Open Sans", sans-serif;
    color: white;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    padding: 15px;
    border-radius: 4px;
    margin: 10px 0px;
}

.primaryHeadings{
  color: rgb(57, 27, 112);
}

.primaryParas{
  color:#444444;
}